

footer
	.footer
		.container
			.row
				.col-3
					+footer-nav(footerNavFirst)
				.col-3
					+footer-nav(footerNavSecond)
				.col-3
					+footer-nav(footerNavThird)
				.col-3
					include ./social-icons.pug
	.copyright
		.container
			.copyright__text © Copyright 2019. All rights reserved.
