mixin features__left(img, title)
	.features__left 
		.features__security
			.features__info
				img(src="./img/properties/" + img, alt="Security")
				h3.title #{title}
				block
		.features__aircon
		.features__garden